/*jquery improvements*/
.oi-li-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin: .6em 0;
}

.oi-li-desc {
    font-size: 1em;
    font-weight: normal;
    margin: -.5em 0 .6em;
}

.verse-content {
	font-size:1.2em;
	font-weight:normal;
	margin: 1em 0 1em 3em;
}

.verse-label {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}

.bullet-point-header {
	font-weight: bold;
	background-color: blue;
}

.container {
  width: 900px;
}

body {
  background: #cff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}
section {
  margin-top: 1em;
  font-size: 120%;
  padding:20px;
  background: #fff;
}

section h1 {
  font-size:200%;
}

/* Links */
a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */
nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-borders-radius: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */
table.profile {
	width: 90%;
	margin-bottom: 0;
}

td.main {
	width:60%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
	display: inline-block;
}

img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
	display: inline-block;	
}

/* form */
div.field, div.actions {
	margin-bottom: 10px; 
}

.field_with_errors {
	background-color: red;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 90%;
	border: 2px solid red;
	padding: .8em;
	padding-bottom: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: .5em .5em .5em 1.5em;
	font-size: 1em;
	margin: -.7em -.7em 0em -.7em;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 1em;
	list-style: square;
}

.flash {
	margin-top: 2em;
	background-color: #ffc;
}

