<h1>Welcome to International Community!</h1>

<p>Do you wanna have fun?</p>
<p>… with friends who love to build each other up?</p>
<p>… and get to know the U-district as fast as you like?</p>
<p>International Community is THE place!</p>

<p>About fun: we’ve hiked, camped, shopped, canoed, traveled, toured Seattle, learned new languages, fed the hungry.<p>

<p>About building each other up: we are people who look for people to encourage, teach new skills, practice presentations and resume writing, find a study buddy, have free time that’s worth it.</p>

<p>IC and the U-district: we are a place not a program.  As a local community, we don’t have to look to far for a good conversation, a helping hand at setting up living situations, and just sharing life.</p>

<p>Let’s connect!  Please add yourself to the email subscription below.</p>

<%= link_to "Sign up now!", signup_path, "data-role"=>"button" %>
<br />
