<h1>International Community in Seattle</h1>
<p>
 
<a href="http://www.facebook.com/groups/214193508621459//">International Community</a>, formerly known as Soul Unity, is a group of international and domestic students from <a href="http://http://www.washington.edu/">University of Washington</a>, <a href="http://www.spu.edu/">Seattle Pacific University</a> and <a href="http://seattlecentral.edu/">Seattle Central University</a> passionate about God and what He is doing in our lives. 
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
