<h1>All Lessons</h1>
<h3><a href="<%= new_lesson_path %>" data-ajax="false" >Add a new lesson</a></h3>
<%= will_paginate %>

<ul data-role="listview" data-split-theme="d" data-split-icon="delete">
  <%= render @lessons %>
</ul>

<%= will_paginate %>