<h1><%= @lesson.title %></h1>
<p><%= @lesson.lesson_content %></p>
<% unless @bullet_points.empty? %>
<ol data-role="listview" data-theme="c">
   	<%= render @bullet_points %>
	<%= will_paginate @bullet_points %>
</ol>
<% end %>
