<h1>All Chapters</h1>
<a href="<%= new_chapter_path %>" data-ajax="false" data-role="button" data-icon="plus">Add a new chapter</a>

<%= will_paginate %>

<ul data-role="listview" data-split-theme="d" data-split-icon="delete">
  <%= render @chapters %>
</ul>

<%= will_paginate %>