<ul data-role="listview" data-split-theme="d" data-split-icon="delete">
  <li>
	<a href="javascript:void(0);">
    <p class="micropost-content wrapword"><%= micropost.content %></p>
    <p class="time">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </p></a>
	<% if current_user?(micropost.user) %>
	    <%= link_to "delete", micropost, :method => :delete,
	                                     :confirm => "You sure?",
	                                     :title => micropost.content %>
	<% end %>
  </li>
</ul>