<ul data-role="listview" data-theme="c">
  <li>
    <h4><%= micropost.content %></h4>
    <p>
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </p>
	<% if current_user?(micropost.user) %>
	    <%= link_to "delete", micropost, :method => :delete,
	                                     :confirm => "You sure?",
	                                     :title => micropost.content %>
	<% end %>
  </li>
</ul>