<div data-role="header" data-theme="b">
	<!--<h1><%= link_to logo, root_path %></h1>-->
	<%= link_to "Home", root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
	<h1>International Community</h1>
	<%= link_to "Sign in", signin_path, "class" => "ui-btn-right", "data-icon"=>"sign-in" %>
</div>


